[2019-08-17 02:15] brooklyn097 opened #1 "Can you make it smoother for Android?"
I've checked out this for both iOS and Android and it's working perfectly on iOS but on Android it's lagging on every touch to tab button.
Could you fix this?

[2019-08-24 17:51] torgeadelin commented on #1
Hi @brooklyn097 , I will try to have a look at it as soon as I can. Thanks for reporting the unusual behavior on Android.  Please tell me what device did you test on, and what Android SDK.

[2019-08-24 18:19] brooklyn097 commented on #1
I forgot to update to this thread. It was lagging only with development mode, I've tried with a release apk and it works as expected.
Thank you!

[2019-08-24 18:23] torgeadelin commented on #1
Thanks for letting me know.

[2019-08-24 18:23] #1 closed

[2019-08-25 04:25] brooklyn097 opened #3 "TabBar indicator position keeps standing when using navigation.navigate()"
Hi, I'm fresher with React Native so if you can give me an advice for my problem it would be more than great.
For example, suppose I've 2 screens called A and B, both of them are inside a TabBar, i can switch between screen A and screen B by clicking on TabBar for normally but in my situation i want to navigate to screen B when i press to a button on screen A. I'm currently using `this.props.navig

[2019-08-25 08:35] torgeadelin commented on #3
Hi! I am new with React Native as well haha, I have a rough idea why it’s not working. I’ll try to fix it in the next few days and I’ll let you know. Thanks for reporting the unusual behaviour.

[2019-09-01 03:53] brooklyn097 commented on #3
Seems you’re too busy haha, can you share your idea on the issue so i can have a look into this.

[2019-09-01 08:34] torgeadelin commented on #3
Hi. Yes, I apologise. I’m on holiday right now.
I think I have a quick fix for you. Have a look at this https://reactnavigation.org/docs/en/function-after-focusing-screen.html and then try to get a reference from the TabBar component and pass it to your screen. And whenever you go to that screen you trigger the onPress function. Not entirely sure it’s gonna work.

Hope this helps.
Thanks!

[2019-09-01 12:36] brooklyn097 commented on #3
Hi, I'll try following your idea and give you feedback soon. Thank you!

[2019-09-10 16:02] saikiranoptisol opened #4 "How to decrease padding between left side to icon and rightside to text and increase the tab height"
i was trying to decrease padding between the icon and left side of icon and text and right side of text and tring to increase the height of tab which is a bit difficult to achieve. tabBarOptions is not at all working.

 const HomeScreenTab = createMaterialTopTabNavigator(
          {
              Home: HomeStack,
              Aiyoooo: DiscoverStack,
              Images: ImagesStack,

[2019-09-14 11:55] torgeadelin commented on #4
Hi! Yes indeed, the tabBarOptions won’t work in this case as I haven’t linked those properties with the actual component in my implementation. I’m going to add some extra customisations props so you can adjust the design of the tab bar items.

For the colours make sure you have the last version of the package. If still doesn’t work try using activeColor instead of activeColor*s*

I will try to rel

[2019-11-09 03:00] Tanvir-rahman opened #7 "Warning From Icon and TabBar component"
I am getting following warnings while using Icon with TabBar component
![Screenshot 2019-11-09 at 8 56 29 AM](https://user-images.githubusercontent.com/15964566/68521805-dba89b00-02ce-11ea-957c-351cbde9c726.png)
![Screenshot 2019-11-09 at 8 56 13 AM](https://user-images.githubusercontent.com/15964566/68521806-dea38b80-02ce-11ea-8c56-1d584d82e28a.png)

Here's associated ways i tried-
NavigationOpti

[2019-11-14 00:53] torgeadelin commented on #7
Hi @Tanvir-rahman !
I think you're using Expo for the web.  I haven't tested the package with that. It should work fine if used without expo. I'll try to see if I can fix it and let you know.

It would be helpful to get all your code and all details about your app as the answer I gave above is based only on assumptions.

Tanks!

[2019-11-15 14:41] IronTony opened #8 "Backbutton from navigation back, wrong position in the tabbar"
Hi,

woah component 😄
Everything is fine in iOS and Android if you use the tabbar navigation (testing with react-navigation v4), but if I use a button that goBack from Tab2 to Tab1 I see this:
![image](https://user-images.githubusercontent.com/3645225/68951505-8123a900-07be-11ea-9c4c-660380e7b72d.png)

I am trying to fix it, but if you are faster then me I need some help 😸

Thx

[2019-11-15 14:43] torgeadelin commented on #8
Hi!
Thanks for the feedback! 😇

Please update the component, we fixed that issue from 1.03 to 1.04. Let me know if the issue still persists.

Thanks!

[2019-11-15 14:45] IronTony commented on #8
wow, super fast!
I am using the 1.0.4 😉
If you need more info or see the problem live, just tell me

[2019-11-15 14:48] torgeadelin commented on #8
Are you having the issue when you press the physical back button on the device or when you use `this.props.navigate(“Screen x”)`?

[2019-11-15 14:49] IronTony commented on #8
When I click on a button that do `navigation.navigate("Screen X")`

[2019-11-15 14:51] IronTony commented on #8
the problem is the style of the `<Dot />` component, that doesn't move correctly

[2019-11-15 14:54] torgeadelin commented on #8
I see. Not it makes sense. The reason is because the animation is not fired on the `navigate`. This is the same issue as #3. I didn’t have time to look into it yet, maybe you can check my response here #3 and try to fix it. I’m super busy this weekend but I’ll try something next week.

I’m sorry for the inconvenience.

[2019-11-15 14:55] IronTony commented on #8
fine thx. Hope to come back with good news and do a PR to you. Thank you again

[2019-11-18 04:43] kazewonginc opened #9 "Possible Typescript support?"
[code]

[2019-11-18 04:43] #9 closed

[2019-11-18 04:52] kockok opened #10 "Possible Typescript support??"
`Could not find a declaration file for module 'react-native-animated-nav-tab-bar'. `

[2019-11-22 03:33] Tanvir-rahman commented on #7
Yes i have tried Expo for the web and got following warnings.

[2019-11-22 16:44] torgeadelin commented on #8
Closed due to duplication, see #3

[2019-11-22 16:44] #8 closed

[2019-11-24 16:32] saraf22 commented on #3
adding this in Tabbar.js does the fix @torgeadelin

componentDidUpdate(prevProps) {
if(prevProps.navigation.state.index !== this.props.navigation.state.index) {
    this.animation(this.state.animatedPos).start(() => {
        this.setState({
          prevPos: this.state.pos,
        });
        this.state.animatedPos.setValue(0);
      });
}
}

[2019-11-24 16:33] saraf22 commented on #8
adding this in Tabbar.js does the fix @torgeadelin

componentDidUpdate(prevProps) {
if(prevProps.navigation.state.index !== this.props.navigation.state.index) {
    this.animation(this.state.animatedPos).start(() => {
        this.setState({
          prevPos: this.state.pos,
        });
        this.state.animatedPos.setValue(0);
      });
}
}

[2019-12-08 18:48] damithg-dev commented on #3
@saraf22 thank you mate. working charm. please make PR.

[2019-12-10 08:09] mzgnr opened #11 "Glitch when going back"
<img width="533" alt="Screen Shot 2019-12-10 at 10 41 00" src="https://user-images.githubusercontent.com/6003317/70507472-79e18800-1b3d-11ea-8765-0e6f17422e8d.png">

[2019-12-11 22:32] torgeadelin commented on #11
Could you please give some code as well?

[2019-12-19 22:25] #11 closed

[2019-12-30 13:51] surbhitrao opened #12 "How to change the default active tab when the app opens ?"
How to change the default active tab when the example app opens ?  It is set to default to the left most item.

[2020-01-20 06:56] ersachit opened #13 "How to gone icon when any tab is selected?"
Right now, when we select any tab then the icon and text both are visible but is it possible that we only show the text when the tab is selected otherwise only show the icon?

[2020-02-09 21:38] fr3fou opened #14 "React Navigation 5 support?"

[2020-02-11 23:37] fr3fou commented on #14
should be fixed by #15

[2020-03-11 14:46] #14 closed

[2020-04-18 23:23] torgeadelin commented on #13
At the moment there is no functionality to do that.
We'll try to add this in the future!

[2020-04-18 23:26] torgeadelin commented on #12
I think this is a matter of React Navigation rather that this package. The highlight of the selected tab corresponds to the state of your navigation state. Try change that maybe?
Maybe [this](https://stackoverflow.com/questions/55570886/how-to-set-a-default-screen-route-in-react-tab-navigation-in-react-native) helps.

[2020-04-18 23:27] torgeadelin commented on #7
Closed due to no further information.

[2020-04-18 23:27] #7 closed

[2020-04-18 23:28] torgeadelin commented on #3
This is finally fixed! #18

[2020-04-18 23:28] #3 closed

[2020-04-18 23:29] torgeadelin commented on #3
Fixed!

[2020-04-18 23:30] #4 closed

[2020-04-24 06:06] #12 closed

[2020-05-04 13:40] giangidev93 commented on #10
same here

[2020-05-14 13:04] Applifiedindia opened #20 "Unable to resolve module `./NavigationNativeContainer` from `node_modules\@react-navigation\native\src\index.tsx`:"
how to solve this issue?

[2020-05-14 13:05] #20 closed

[2020-06-19 02:31] speter9701 opened #21 "Is it possible to make the bar's top corners rounded?"
I've tried to add borderRadius to the tabBarOptions, but it does not working.
Is there any possible way to do that?

[2020-06-21 20:49] nirmaldalmia opened #22 "Navbar breaks on changing orientation"
I've implemented the bottom nav tab bar for four tabs. It breaks and highlights the wrong part whenever we switch the orientation from portrait to landscape or vice versa. Here are the screenshots:

1. Navbar fine in portrait mode
![image](https://user-images.githubusercontent.com/27962178/85234858-25915c00-b42e-11ea-8ca3-1130f2ee4bc0.png)

    Upon changing orientation to landscape
    ![image](h

[2020-06-21 20:56] torgeadelin commented on #21
Currently there is no way you can customise that. I will add a prop to make it easier to customise the appearance (including round corners). I’ll try to push a new version this coming week. Thanks for the feedback!

[2020-06-21 20:57] torgeadelin commented on #22
Hi! Thanks for raising the issue. I will look into it and try to push a fix this coming week.

[2020-06-25 12:12] torgeadelin commented on #22
Hi, are you running on iOS or Android?
Thanks!

[2020-06-25 14:57] nirmaldalmia commented on #22
Hi! I tested it on Android. Not sure about IOS.

[2020-06-25 15:48] torgeadelin commented on #22
No worries, I'll push a fix in a few hours. I already fixed the issue but I'm adding some additional features, and doing some refactoring. I'd be great if you can confirm the issue is fixed on Android once I push the fix. (I don't currently have Android)

[2020-06-25 15:52] nirmaldalmia commented on #22
Sure. I'd be happy to help out. So happy to see such a quick resolution! Thanks!

[2020-06-26 18:56] torgeadelin commented on #22
Hi @nirmaldalmia, sorry for the delay. I just pushed a new version, v3.0.1, please update the package in your project, and check if the orientation change issue is fixed. Also, make sure to reimplement the navigation using the new style (see docs).
Thanks!

[2020-06-27 16:13] nirmaldalmia commented on #22
Hey @torgeadelin thanks for the update. I Will test and let you know how it works out!

[2020-06-28 15:39] torgeadelin commented on #21
Fixed. See #23

[2020-06-28 15:39] #21 closed

[2020-06-28 15:39] torgeadelin commented on #13
Fixed. See #23

[2020-06-28 15:39] #13 closed

[2020-07-08 07:08] saihtunlu opened #24 "Error - Can't find variable: HandleBackPress"
Hi Bro, i'm facing this error - Can't find variable: HandleBackPress, and it's fixed by adding 'const' (at TabBarElement.js: 115).
` const handleBackPress = () => {
    animation(animatedPos).start(() => {
      updatePrevPos();
    });
  };`

[2020-07-10 06:21] renzified commented on #24
+1  here

[2020-07-10 17:43] nirmaldalmia commented on #22
Hey sorry for the delay in responding. Thanks for the fix! It works great :)

[2020-07-10 17:43] #22 closed

[2020-07-10 19:19] #24 closed

[2020-07-10 19:20] torgeadelin commented on #24
Fixed! Please update to 3.0.2 :)

[2020-07-11 09:26] thekingrenz23 opened #25 "Invalid prop backgroundColor"
Hello i think you miss the backgroundColor it cant be empty 😎

![Screenshot_2020-07-11-17-21-57-214_com isyudad](https://user-images.githubusercontent.com/24559541/87221017-68927f80-c39b-11ea-9ffa-6f38fd80fd75.jpg)

[2020-07-11 09:46] renzified commented on #25
Fixed by adding
activeBackgroundColor to the tabBarOptions

[2020-07-11 09:46] #25 closed

[2020-07-11 10:00] thekingrenz23 opened #26 "fontFamily not taking effect in labelStyle property of tabBarOptions"
I want to change the fontFamily of the tab label to match my entire app. Unfortunately its not taking effect.
Here is my tabBarOptions

[code]

[2020-07-11 11:16] torgeadelin commented on #26
Hi!

Does the colour change according to what you specify in the `labelStyle`?

[2020-07-11 11:35] renzified commented on #26
Yes it does change

[2020-07-11 12:12] renzified commented on #26
Found the solution i removed this line
https://github.com/torgeadelin/react-native-animated-nav-tab-bar/blob/d1d41be93637b17d0c9036488078c8bb231b0ee5/src/UIComponents.js#L74
and used the bold fontFamily Montserrat-Bold Like so
[code]

[2020-07-11 12:12] #26 closed

[2020-07-26 16:11] kockok opened #30 "Seems incompatible with ui-kitten eva-icons"
I followed the [example](https://github.com/torgeadelin/react-native-animated-nav-tab-bar/blob/master/example/navigation/AppNavigation.js)  js to get started, however, an error raised likely related to the Icon rendering:
[code]

The official docs written like this:
[code]
And I can't see what went wrong.

Please advise.

[2020-07-26 16:23] torgeadelin commented on #30
Hey! It seems like it's an issue with the your i on library not the navigation component. Make sure you import your icons according to the library you're using.

[2020-07-27 08:39] kockok commented on #30
Even I dismiss the `Check the render method of `Icon`.` error, however, the icon won't show up. And the styling went crazy.
![Screenshot 2020-07-27 at 4 35 09 PM](https://user-images.githubusercontent.com/232541/88521248-3e8dbe00-d027-11ea-9761-a8e9b346f2c4.png)

I guess that ui kitten icons are rendering jsx elements and the `tabBarIcon` option only respond to svg icons.

[2020-07-27 09:06] torgeadelin commented on #30
Could you post your whole navigation code?

[2020-07-27 09:23] kockok commented on #30
@torgeadelin The problem is solved, and I think it's the problem of the Icon library setting.
1, you have to provide width and height value to avoid collapsing the styling.
2, the name value of the icon is important, e.g.`<Icon name="profile">`, we don't have "profile" in eva icons, so the `Check the render method of Icon.`  error is being raised.

Hope this will help.

[2020-07-27 09:23] #30 closed

[2020-08-01 08:04] ghost commented on #10
This would be amazing to be support on TypeScript! What a great nav bar!

[2020-08-04 14:59] torgeadelin commented on #10
I'll try to do this soon. I'm happy to see more and more interest in this package. Thanks!

[2020-08-06 16:53] kockok opened #31 "Tab item with long title"
I have two concerns for the layout with reference to the screen cap.
![Screenshot 2020-08-07 at 12 47 27 AM](https://user-images.githubusercontent.com/232541/89559269-0583f380-d848-11ea-9e5b-74bd21cd4914.png)

1. How to adjust the space between the text and the icon?
2. How to add more padding for the title ending by squeezing the space between the subsequent icons

[2020-08-12 07:01] leon2835 opened #33 "Bottom tabs overlay"
Hi and thanks for the library, currently i'm using version 3.0.3 and followed the example code that provided, and this happened.
(Currently temp walkaround which is head to node_modules/react-native-aniamted-nav-tab-bar/src/TabBarElement, change the overlayStyle to flex:0.1 & current screen to flex:0.9 will solved the problem.)
![Screenshot_1597215426](https://user-images.githubusercontent.com/196

[2020-08-12 09:27] maheshlipane99 opened #34 "Invariant Violation: Invalid prop `backgroundColor` supplied to `StyleSheet generated`"
**Invariant Violation: Invalid prop `backgroundColor` supplied to `StyleSheet generated`:**
Valid color formats are
  - '#f0f' (#rgb)
  - '#f0fc' (#rgba)
  - '#ff00ff' (#rrggbb)
  - '#ff00ff00' (#rrggbbaa)
  - 'rgb(255, 255, 255)'
  - 'rgba(255, 255, 255, 1.0)'
  - 'hsl(360, 100%, 100%)'
  - 'hsla(360, 100%, 100%, 1.0)'
  - 'transparent'
  - 'red'
  - 0xff00ff00 (0xrrggbbaa)

StyleSheet generated:

[2020-08-12 09:31] #34 closed

[2020-08-12 09:33] torgeadelin commented on #34
Hi, what was the issue?

[2020-08-12 09:37] torgeadelin commented on #33
I can see the issue, but have you considered displaying just the tab icon even when it's selected? It will look crowded even with the additional space around if you keep the text. Look at the docs, there's a way tou can configure that.

I will try to add some more configuration to enable spacing customisations. Although, I kind of purposely forces the current styles so that good UI/UX will be enfo

[2020-08-12 09:38] torgeadelin commented on #33
There's also a `dotSize` prop which adjusts the size of the selected tab. Did you try that?

[2020-08-14 04:17] leon2835 commented on #33
@torgeadelin  Alright dude, thanks for the dotSize, it's managed to look better now.
![Screenshot_1597378591](https://user-images.githubusercontent.com/19604759/90213303-09a3a880-de28-11ea-856b-4cf0b1716e15.png)

[2020-08-16 22:23] FawadMahmood commented on #34
Having same issue.

[2020-08-18 21:29] #33 closed

[2020-08-18 21:29] torgeadelin commented on #33
Closing for now.
Will try to add even more customisation in the future.
Thanks!

[2020-08-18 21:32] torgeadelin commented on #31
At the moment there is no posibility to adjust the space between the text and icon. In order to change the dot(backgorund) size, use the `dotSize` prop (look at the docs). Let me know if that fixes your issue.

PS, In general you'd try to avoid long text inside a tab bar.. Try to keep it as low as 1 word. This will ensure that your UI is consistent across multiple devices.

[2020-08-19 04:17] kockok commented on #31
I've tried `dotSize` but it didn't help.
However, I do think that a mere five word title isn't that inappropriate as there's still plenty of space left behind.

[2020-08-19 04:17] #31 closed

[2020-08-21 04:47] Mimicx commented on #34
Same issue..

[2020-08-21 04:52] Mimicx commented on #34
i noticed that adding the prop activeBackgroundColor, the error disappear.

[2020-08-21 14:12] secodigo opened #35 "Invariant Violation: Invalid prop `backgroundColor` supplied to `StyleSheet generated`:"
I created the example and the following error occurs to me:
Invalid prop `backgroundColor` supplied to `StyleSheet generated`:
Valid color formats are
  - '#f0f' (#rgb)
  - '#f0fc' (#rgba)
  - '#ff00ff' (#rrggbb)
  - '#ff00ff00' (#rrggbbaa)
  - 'rgb(255, 255, 255)'
  - 'rgba(255, 255, 255, 1.0)'
  - 'hsl(360, 100%, 100%)'
  - 'hsla(360, 100%, 100%, 1.0)'
  - 'transparent'
  - 'red'
  - 0xff00ff00

[2020-08-24 12:18] aravind123cs opened #36 "How to hide bottom bar for child screens?"

[2020-08-24 12:31] sujinjuly4 commented on #36
@torgeadelin Can you please find a solution ?
`tabBarVisible` is not working.

[2020-08-24 12:33] torgeadelin commented on #36
Could you post a screenshot illustrating the issue? Thanks!

[2020-08-25 04:52] aravind123cs commented on #36
![child screen](https://user-images.githubusercontent.com/29692028/91124325-aeda3e80-e6bc-11ea-991b-7c2ee5caadf9.png)
![parent screen](https://user-images.githubusercontent.com/29692028/91124338-b3065c00-e6bc-11ea-8164-b15098cfbfd1.png)
is there any property to hide bottom bar for child screens

[2020-08-25 07:09] torgeadelin commented on #36
Oh, I see. I will look into it today.

[2020-08-31 09:14] mstf0ta-app commented on #35
I solve it by editing UIComponents.js
line 73  color: ${(p) => p.activeColor} to hex color:"#000" or any color you want
line 84 background-color: ${(p) => p.activeTabBackground}; to  background-color: ${(p) => "#fff"}; or any hex color you need

[2020-08-31 11:46] ahmetozalp commented on #36
Could you solve this problem? I want to hide it on some screens

[2020-09-05 02:20] renzified commented on #35
You received that error because you did not supplied backgroundColor for the tabStyle. It should be like this
[code]

[2020-09-05 15:51] Ravi448 opened #37 "Screen reloads on every focus"
### What is expected
The screen should call `componentDidMount` only on first focus.

### What is current behaviour
Is there any way to prevent screen refresh on tab focus? I have added some api calls on `componentDidMount` and this is being called on every focus.

[2020-09-08 08:26] MukhametzhanDev commented on #37
+++

[2020-09-13 14:35] ahmetozalp commented on #36
fixed problem.

Removed module 🙃

[2020-09-13 16:13] torgeadelin commented on #36
A quick google search shows that you should't use `tabBarVisible` prop anymore.
Let me know if this new technique (https://reactnavigation.org/docs/hiding-tabbar-in-screens/#!) fixes your issue. I just tested and seems to work.

[2020-09-13 22:20] mstf0ta-app commented on #37
same here i tried to add lazy option but without any effect

[2020-09-14 06:23] torgeadelin commented on #37
Sorry, this is currently being fixedd.

[2020-09-14 11:15] torgeadelin commented on #35
This is gonna be fixed in the next version.
All configuration will be optional and default to a set design.

[2020-09-14 11:15] #35 closed

[2020-09-15 19:10] kasper-madsen opened #38 "Open modal"
Hi, this is an awsome component. would it be possible to extend the tab screens to be configured like react native navigation tabbar?

either provide away to do
         options={{
           tabBarButton: (props) => (
             <TouchableOpacity
               {...props}
               onPress={() => navigation.navigate('ModalView')}
             />
           ),
        }}

Or

listeners={({n

[2020-09-27 12:16] kristoff2016 opened #39 "Question: Does it support badge?"
Hello,
Thank you for nice plugin for us. I really appreciate it.  is it possible to support badge?

Thanks

[2020-09-27 12:30] kristoff2016 commented on #39
I tried to add an option follow https://reactnavigation.org/docs/tab-based-navigation but it does not show

[2020-09-27 14:04] cgarcia55 commented on #39
try adding the badge directly to the icon like this:
`<Tabs.Screen
        name="Cart"
        component={Cart}
        options={{
          tabBarIcon: ({ focused, color }) => (
            <View>
              <TabBarIcon
                focused={focused}
                tintColor={color}
                name="shopping-cart"
              />
              <Badge
                value="1"

[2020-09-27 14:15] kristoff2016 commented on #39
Thank you @cgarcia55 so we can use the only custom something like this?

[2020-09-27 18:00] torgeadelin commented on #39
Hi, thanks for the kind words.
Actually @cgarcia55's suggestion is great. This way you have full power to customise it however you like. The badge option inside the navigator is the default style for the OS.

[2020-09-27 18:01] torgeadelin commented on #39
I'm going to close this issue now, since there's a workaround. If there's really need of the default one I'm waiting for more people to ask for it.

[2020-09-27 18:01] #39 closed

[2020-09-27 18:01] #36 closed

[2020-09-27 21:22] torgeadelin commented on #38
Fixed. in 3.0.4
You can use as follows:
[code]

[2020-09-27 21:22] #38 closed

[2020-09-27 21:22] torgeadelin commented on #37
Fixed.

[2020-09-27 21:22] #37 closed

[2020-09-28 02:10] kristoff2016 commented on #39
Hi @torgeadelin, it would be great if we can use it from default and customize.

[2020-09-28 15:33] cgarcia55 opened #41 "Still rerendering problem."
i'm still facing the issue with the re-rendering problem, there is a configuration or props that im missing?
Every tab change, the active tab re-render, so when i go back, re-render as well

[2020-09-28 15:38] torgeadelin commented on #41
Did you update to 3.0.4?

[2020-09-28 15:41] cgarcia55 commented on #41
`"react-native-animated-nav-tab-bar": "^3.0.4",`, yes, yes that's the weird thing

[2020-09-29 04:09] Duya3fithou opened #42 "Couldn't register the navigator. Have you wrapped your app with 'NavigationContainer'?"
I use TypeScript, and install follow your docs.
My import:

![Screen Shot 2020-09-29 at 10 53 22 AM](https://user-images.githubusercontent.com/44860282/94510867-0c285900-0242-11eb-82be-8827935b3ecd.png)

My Tab.Navigator:

![Screen Shot 2020-09-29 at 11 03 57 AM](https://user-images.githubusercontent.com/44860282/94511426-7ee60400-0243-11eb-9527-b8f7b56fcc9f.png)

After, i wrapp it, and pass to 2

[2020-09-29 16:38] kristoff2016 commented on #41
Hi, what is the issue with re-rendering?

[2020-09-29 16:43] cgarcia55 commented on #41
every change of tabs, re-render the active tab. If navigate from home to cart and then go back to home, i have to wait Home finish de render.

[2020-09-29 16:47] torgeadelin commented on #41
I'll have a look today. It's weird because I pushed a fix on Sunday 🤔

[2020-09-29 16:50] torgeadelin commented on #42
I think it's due to the fact that you AppStack is wrapped in `Host`?

[2020-09-29 20:59] torgeadelin commented on #41
I just tested again, and it seems to work for me. I'm testing on iOS 14, with React native 0.63.
Please delete your `node_modules` and run the local server with `react-native start --reset-cache`.
The component is initialised only once.

Try to run the example project from the repo and see if it works there. Add a component did mount to one of the screens and check.

[2020-09-29 21:14] torgeadelin commented on #42
I just replicated you code and it seems to work for me. I think it has nothing to do with this package. Does it work if you replace Tabs with `createBottomTabNavigator()` instead of Animated..etc?

[2020-09-29 21:46] cgarcia55 commented on #41
THANKS!! it was that. Now works great!

[2020-09-29 21:46] #41 closed

[2020-09-30 01:38] Duya3fithou commented on #42
if I used createBottomTabNavigator(), it work normally
And I try remove Host but it still not working

[2020-09-30 07:17] torgeadelin commented on #42
Could you post more details about your project? Source code for the affected parts? Also include the whole error log. If I can't reproduce I can't really fix it :(

[2020-09-30 07:23] Duya3fithou commented on #42
yep.
I used base project from https://github.com/cuongnm2301/demo-app
and just change content of file RootSences.tsx to: [Link file](https://pastebin.com/QzEdGrqr)
Here is my problem

![Simulator Screen Shot - iPhone X - 2020-09-30 at 14 41 00](https://user-images.githubusercontent.com/44860282/94656977-00649180-032b-11eb-8e03-f3c84178f8d0.png)

[2020-09-30 07:23] Duya3fithou commented on #42
tks you very much becase your quick reply.

[2020-09-30 07:47] torgeadelin commented on #42
No worries! Thanks for the details. I'll have a look once I finish work today:)

[2020-09-30 12:00] aeife opened #43 "Bottom bar overlays content of ScrollView"
I started with the expo tab example which is a pretty simple project using a bottom tab bar. I exchanged the bottom tab bar with the animated tab bar component. I noticed that the animated bottom tab bar overlays the content of a ScrollView. In comparison using the default bottom tab bar the ScrollView is above the header so everything can be scrolled into the view.

Do I need to configure somethi

[2020-09-30 17:01] torgeadelin commented on #43
Hi, I was hoping this wont be an issue. I will patch a fix for this so that when the navbar is not floating, it will take the space below the screen and not on top of it. I'll try to work on this over the weekend.

[2020-09-30 17:05] torgeadelin commented on #42
Sorry, could you try to share the entire error trace call stack and not just a screenshot? or some logs

[2020-09-30 17:29] torgeadelin commented on #42
Ok, i just cloned the demo app, i installed the package, copy pasted the code you provided in RootScenes and it works. Try to run the app with react-native start --reset-cache, but before that delete the node_modules and install everything again.

[2020-10-01 01:50] Duya3fithou commented on #42
I remove node_modules and reinstall. run react-native start --reset-cache. and it work perfect. tks your lib and support.

[2020-10-01 01:51] #42 closed

[2020-10-01 03:37] Duya3fithou opened #44 "Possible to use gardient color for 'activeBackgroundColor' props?"
![Component 13 – 2@3x](https://user-images.githubusercontent.com/44860282/94762342-98b55180-03d1-11eb-8d20-3cf7af5f9c44.png)
How do like this?
Is it feasible to use gardient color?
And how to set width for activeBackgroundColor?
Many tks for pretty lib.

[2020-10-05 18:20] zoka2305 opened #45 "Feature Request: Icon and title position as a normal tabbar"
<img width="739" alt="Screen Shot 2020-10-06 at 01 17 36" src="https://user-images.githubusercontent.com/7299214/95116764-bab42880-0771-11eb-9ad8-f762a479189d.png">

Can I place the title and icon as the above image?

[2020-10-05 18:31] torgeadelin commented on #45
Hi, at the moment no. We can add this in the future but I'm not sure how the animation will look with that layout.

[2020-10-06 04:59] lamlv2305 commented on #45
@torgeadelin Thanks for your response.

I'm trying to custom the layout without animation, just only float tab bar, icon and title.

For extra animation, I will use another approach like: https://github.com/software-mansion/react-native-reanimated

[2020-10-07 08:48] Relax594 opened #46 "Feature Request: use horizontal swiping feature of createMaterialTopTabNavigator"
Is there way to use this together with the swiping feature of [createMaterialTopTabNavigator](https://reactnavigation.org/docs/material-top-tab-navigator/)?

By using it like this it behaves the same as [createBottomTabNavigator](https://reactnavigation.org/docs/bottom-tab-navigator), which i guess is what you use:
[code]

I think this would be awesome paired with the animations you already provid

[2020-10-07 08:57] Relax594 commented on #43
Same issue here, would be awesome to have this one fixed

[2020-10-07 15:47] ferostar commented on #42
Hi!

I'm having the same issue. Reinstalled `node_modules`, ran `react-native start --reset-cache` and it still happens.

[code]

Code setup is pretty much the same as @Duya3fithou , only using JS.

[code]

Tried removing the other Providers and Containers above but nothing changes. And Navigation code here is similar, a `NavigationContainer`, a `RootStack` and different stacks depending on user s

[2020-10-07 17:38] ferostabio commented on #21
Hi there! Sorry @torgeadelin , but just went through the code and I an't find a reference to the bar's top radius. Only the dot's, with the `dotCornerRadius` prop.

[2020-10-08 18:25] amarjitsingh65 commented on #44
Hi, am not able to create a floating tab with less rounding corners. how you rounder the corner with less radius as in the above screen. I have a default radius which is too large.
<img width="318" alt="floating-bottom-bar" src="https://user-images.githubusercontent.com/34943963/95498775-2dcbc380-0959-11eb-9858-fb0f899da5a4.png">

[2020-10-08 18:31] amarjitsingh65 commented on #45
Hi, I
<img width="318" alt="floating-bottom-bar" src="https://user-images.githubusercontent.com/34943963/95499173-bd717200-0959-11eb-9a1b-c2233072211a.png">
am not able to create a floating tab with less rounding corners. how you rounder the corner with less radius as in the above screen. I have a default radius which is too large.
@Zoka. how you created above tab bar with shadow and less corner,

[2020-10-09 08:08] algokano commented on #42
same issue
"react-native": "0.63.2",
    "react-native-animated-nav-tab-bar": "^3.0.4",
"@react-navigation/native": "^5.6.1",
    "@react-navigation/stack": "^5.6.2"

[2020-10-10 09:44] algokano commented on #43
Same issue

[2020-10-10 10:28] Sarvarr opened #47 "useScrollToTop doesnt work"
if I used createBottomTabNavigator(), [useScrollToTop](https://reactnavigation.org/docs/use-scroll-to-top) work normally
"react-native": "0.63.2",
    "react-native-animated-nav-tab-bar": "^3.0.4",
"@react-native-community/masked-view": "^0.1.9",
    "@react-navigation/bottom-tabs": "^5.2.7",
    "@react-navigation/native": "^5.1.6",
    "@react-navigation/stack": "^5.2.11",

[2020-10-11 01:39] timothylui commented on #42
I'm also getting the same issue. If it makes any difference I'm using classes for my components rather than functions.

    "react-native": "0.63.3",
    "react-native-animated-nav-tab-bar": "^3.0.4",
    "@react-navigation/native": "^5.7.4",
    "@react-navigation/stack": "^5.6.2",

[2020-10-11 08:16] algokano commented on #42
[animated-tabbar](https://www.npmjs.com/package/@gorhom/animated-tabbar) worked great for me

[2020-10-11 16:51] torgeadelin commented on #42
@Sarvarr , @timothylui I'm afraid I can't reproduce the issue. It works fine for me on iOS
[code]

I also tried with class component.

[2020-10-11 17:00] torgeadelin commented on #46
Hi, I'm afraid not. At least at the moment, I'm not planning to extend it to the material top nav. But if you feel up for the task (and can dedicate the time for it) I'd be more than happy to welcome contributions.

[2020-10-11 17:00] #46 closed

[2020-10-11 17:29] torgeadelin commented on #45
@amarjitsingh65 to change the corner-radius for the tabbar wrapper you have to use the tabBarOptions props and give the tabStyle a specific radius.
[code]

For shadow, please check the docs.

[2020-10-11 18:42] torgeadelin commented on #47
Fixed #48 . Upgrade to 3.0.5

[2020-10-11 18:42] #47 closed

[2020-10-11 18:43] torgeadelin commented on #43
Fixed #48, Please upgrade to 3.0.5

[2020-10-11 18:43] #43 closed

[2020-10-11 18:44] torgeadelin commented on #45
Fixed #48. Please upgrade to 3.0.5 and use the new `tabButtonLayout` to change the layout of the button. For you @zoka2305 you'll need `vertical`, default is `horizontal`.

PS. you won't be able to change the animation as far as I know.

[2020-10-11 18:44] #45 closed

[2020-10-12 09:12] torgeadelin commented on #21
@ferostar to change the actual tab bar style use the `tabBarOption` prop and add your style to the tabStyle property.
[code]

[2020-10-12 09:15] torgeadelin commented on #44
Hi, I will try to add support for gradients as well in the near future :)

[2020-10-13 18:31] BardiaCodes opened #50 "Couldn't register the navigator. Have you wrapped your app with 'NavigationContainer' ?"
Hello! I am trying to use this but this is the error I get:
`Couldn't register the navigator. Have you wrapped your app with 'NavigationContainer' ?`

Here is my code for my TabNavigator:
[code]

On my App.js, I am indeed wrapping it:
[code]

I know that's not the issue because when I replace
`const Tab = AnimatedTabBarNavigator();`
with
`const Tab = createBottomTabNavigator();`
it works just fine

[2020-10-13 18:33] torgeadelin commented on #50
Hi, could you confirm which OS are you testing with? iOS or Android?

[2020-10-13 18:36] safaribardia commented on #50
I'm testing it on iOS 14.0 on the iPhone 11 simulator.

[2020-10-13 18:36] safaribardia commented on #50
Should probably point out that I am also using expo!

[2020-10-13 19:24] torgeadelin commented on #50
Ok... this is very odd. I copy pasted your code (removed imports which i don't have) and it works. I also ran it in expo with iPhone 11 simulator. Would it be possible to send me your whole project so I can debug? Since I cannot reproduce the error, I won't be able to fix it.. There are more users complaining about this so there must be an bug somewhere.

[2020-10-13 19:26] torgeadelin commented on #50
Please also tell me which version of the library are using. Please make sure you're using the latest 3.0.5. Please confirm that

[2020-10-13 20:53] safaribardia commented on #50
Yes! I just installed it a few hours ago so it is the latest version. Is it cool if I email it to you just so I'm not posting this on Github? Thank you!

[2020-10-13 20:55] torgeadelin commented on #50
Thanks a bunch for offering to share your project. You can email it to me at torgeadelin@gmail.com I will have a look sometime this week.

[2020-10-13 20:59] safaribardia commented on #50
No worries! Thanks and I will email!

[2020-10-14 08:39] caglardurmus opened #51 "How can i customize TabButton style"
I want to disable flex:1 option on TabButton style.
I don't want them with same witdh.
Is that possible?

[2020-10-14 09:07] torgeadelin commented on #51
Hi,

At the moment that's not possible because it would break the animation. I'll try to find a way to have both the ability to set specific width for each tab button and to have the animation working.

[2020-10-14 09:09] caglardurmus commented on #51
I deleted flex: 1 option and it works fine.

[2020-10-14 09:33] torgeadelin commented on #51
Well that one is interesting, do you reckon adding a prop to customise the tab button itself would help you? Similar to tabStyle?

[2020-10-14 13:11] caglardurmus commented on #51
i just forked your repo and deleted flex: 1 from TabButton.

[2020-10-14 13:34] caglardurmus commented on #51
I add responsive property to appearence. You can check my commits

https://github.com/caglardurmus/react-native-animated-nav-tab-bar/commits

[2020-10-16 16:08] danieldeev commented on #50
I had the same problem in my project using Expo, any solution for that?

[2020-10-17 17:53] Saff-Elli-Khan opened #52 "how to change the font family of the tab bar?"
Hi Torgeadelin,
I'm unable to change the font family of the tab bar can you please add a style prop or add an option to change the font family or guide me on how to change the font family? I will be very thankful to you 👍

[2020-10-18 18:55] #52 closed

[2020-10-18 18:57] Saff-Elli-Khan commented on #52
I have fixed the issue on my own. If anybody needs this feature then follow these steps:
1. Goto your npm modules in react-native-animated-nav-tab-bar
2. Open AnimatedTabBarNavigator.js
3. find this object labelStyle and then add another style name fontFamily and give it a default value "system font" and done :)
4. Now goto your code and add labelStyle object inside tabBarOptions and use your own

[2020-10-19 09:30] AmarKhoirudin opened #53 "How can i hide details home?"

[2020-10-23 06:47] Duya3fithou opened #54 "Add badge to icon bottom tabbar"
Hmmm.
Is there any way to add badge to bottom tab icon. tks you.
I can custom when focus tab. But it not focused, I can't
![Screen Shot 2020-10-23 at 2 12 28 PM](https://user-images.githubusercontent.com/44860282/96967726-23552080-153a-11eb-93e7-1e5a09bf5870.png)

[2020-10-26 13:34] Taikylah commented on #50
I do have the same issue on an IPhone 11 on IOS 14 too.any solution yet ?

[2020-10-26 16:26] zeeshanmazhar opened #55 "showing error"
I am getting error while making the tab bar and i don't understand how to remove it.
![image](https://user-images.githubusercontent.com/6506972/97199506-e4d99300-17d1-11eb-9774-40d1bf385429.png)

[2020-10-28 23:42] butri71 opened #56 "React Navigation v4"
Is it compatible?

[2020-10-31 00:11] OnurSevket commented on #54
I think,This is very important

[2020-11-06 21:00] axelphunter commented on #50
I downgraded @react-navigation/native to ^5.1.6 and it worked

[2020-11-10 05:38] danieldeev opened #57 "keyboardHidesTabBar not working"
In the **tabBarOptions** settings on **keyboardHidesTabBar**, when trying to set **"keyboardHidesTabBar": true** to hide the tabs when opening the keyboard, even if set to "true", the lib does not hide the tabs and when using the original React Navigation Tabs lib it works. Can someone help me?

[2020-11-10 19:02] buremer commented on #56
Nope. As said in the readme/documentation:
[code]

A guide to upgrade your own navigation to V5 can be found here:
https://reactnavigation.org/docs/upgrading-from-4.x/

[2020-11-15 01:46] natalyayyad commented on #50
Hello I'm facing the same issue here! Here is my code:
`
import React, {useState} from 'react';
import { Platform, StyleSheet, SafeAreaView, Dimensions } from 'react-native';
import { Ionicons, Feather, FontAwesome5 } from '@expo/vector-icons';
import { NavigationContainer } from '@react-navigation/native';
import { createMaterialTopTabNavigator } from '@react-navigation/material-top-tabs';
import

[2020-11-16 09:40] kockok opened #58 "Old version of react-navigation library"
I am getting this warning:
![99144006-556f2380-269d-11eb-8f18-e6e0985da570](https://user-images.githubusercontent.com/232541/99236872-b1b77c00-2832-11eb-9d5a-80163a345a84.png)

Could you update your dependencies?

[2020-11-17 13:31] KAMR4N opened #59 "Tab Animation RTL Support"
I'm using "I18nManager" to adding and force RTL (Right To Left) support for Persian language, but the View of the Animation or Active Tab is not support for RTL.

Example:
![example-Tab-bar](https://user-images.githubusercontent.com/30172779/99395938-5d75d000-28f6-11eb-9570-75a8355eee32.jpg)

[2020-11-17 23:11] butri71 commented on #56
Ok I've just migrated to V5 and installed it. Looking good so far ...

Thanks

[2020-11-17 23:11] #56 closed

[2020-11-19 00:34] #57 closed

[2020-11-19 11:27] kockok commented on #58
I guess it could be solved by changing `active` to `activityState` in [here](https://github.com/torgeadelin/react-native-animated-nav-tab-bar/blob/master/src/ResourceSavingScene.js#L12).

ref: [reference here](https://github.com/software-mansion/react-native-screens/issues/704#issuecomment-730295469)

[2020-11-20 00:41] ayell commented on #10
It's a great package and it will be better when TS will be support  :)

[2020-11-21 13:17] trgkyle commented on #50
+1

[2020-11-21 21:21] TheAlmightyThor commented on #50
Same issue, downgrading @react-navigation/native didn't solve the problem for me

[2020-11-23 08:56] kockok commented on #58
UPDATE:
simply changing `active`  to `activityState` would kick away the warning, however, the touch activity of the WHOLE screen would not function.

E.g. the button will not work, the `onPress` function cannot be called.

I had to revert back to
[code]

[2020-11-23 09:33] #58 closed

[2020-11-26 12:37] butri71 opened #60 "Animation transition not smooth"
Hi,

I'm using react-navigation 5 on Expo with a floating tab layout

During the first couple of clicks the animation is not smooth, it looks like it moves a little bit, gets stuck and then completes the move the the other tab.

After the first few animation everything runs smoothly.

Is there any specific config that I can use like to modify ease, speed of transition or similar

Thanks

[2020-11-27 22:01] pastean commented on #50
works at 5.1.6

@TheAlmightyThor make sure to run the bundler with --reset-cache

[2020-12-17 06:59] Haseeba393 opened #62 "Invalid Hook Call. Hooks can only be called inside body of functional component"
**Problem**
I have made a fresh project to react native and installed this library along with React Navigation 5. I followed all instructions according to the given documentation but I'm getting an error regarding invalid hooks to call in TabBarElement.js.

**Expected**
The library should work as it is working in the demo video and pictures.

**Environment**
This is my package.json file
{
  "name"

[2020-12-21 08:27] ranuwp commented on #57
@danieldeev how to solve it?

[2020-12-21 09:01] ranuwp opened #63 "keyboardHidesTabBar doesn't work"
Whenever the keyboard appears, the tab bar will still there and hides the input for keyboard

[2020-12-21 11:52] danieldeev commented on #57
I couldn't solve it, I'm using redux to close the keyboard when it is triggered

[2021-01-16 09:28] Rootstar07 opened #65 "i can't customize tab-bar wirh apperance"
[code]
i am using expo and just made a simple example
The custom doesn't work for some reason.
I think I did something wrong because I'm not used to navigation. Can you help me?

![KakaoTalk_20210116_182456988](https://user-images.githubusercontent.com/60951051/104808299-9e239400-5828-11eb-9db4-dbd2fee742b4.jpg)

[2021-01-19 18:43] mustafakameldev commented on #59
I'm facing the same issue. could anyone give help with that?

[2021-01-20 04:33] #65 closed

[2021-01-20 04:34] Rootstar07 commented on #65
It's good to try another file. I think it's a collision with another module or my mistake.

[2021-01-20 07:43] RedSmarty opened #66 "Render method error"
Hello, I tried this library but I can't get this to work. Can you help me?

`Error: Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: undefined. You likely forgot to export your component from the file it's defined in, or you might have mixed up default and named imports.

Check the render method of `TabBarElement`.

This e

[2021-01-21 04:11] Mohamed-Faroos commented on #62
I am also facing same issue.
Any solution??

[2021-01-21 04:14] Haseeba393 commented on #62
Nothing found yet.

On Thu, Jan 21, 2021, 9:11 AM Mohamed Faroos <notifications@github.com>
wrote:

[2021-01-22 23:32] khijjawi commented on #62
I am also facing same issue.

[2021-01-22 23:53] torgeadelin commented on #62
Currently working to fix this.

[2021-01-22 23:53] torgeadelin commented on #10
Currently working on this.

[2021-01-25 03:36] kushagraagent47 commented on #62
Any update yet?

[2021-01-27 13:43] Saff-Elli-Khan commented on #60
I'm also facing the same issue!

[2021-01-28 16:13] obie3 commented on #65
the props is 'appearence' and not 'apperance'.

apperance={{
          horizontalPadding: 10,
          tabBarBackground: "black",
          floating: true,
          dotCornerRadius: 100,
          whenActiveShow: "both",
          whenInactiveShow: "label-only",
          shadow: false,
          dotSize: 100,
          tabButtonLayout: "horizontal",
        }}

becomes

appearence={{

[2021-01-29 22:19] torgeadelin commented on #55
Closing for not providing enough details...
If you're still experiencing the issue, please provide how to reproduce it and some logs.

[2021-01-29 22:19] #55 closed

[2021-01-29 22:19] torgeadelin commented on #53
Could you provide a bit more details? Not sure what you mean by hiding details home..

[2021-01-29 22:21] torgeadelin commented on #50
This issue should now be fixed with the latest react-navigation version `^5.9.0`

[2021-01-29 22:21] #50 closed

[2021-01-29 22:22] torgeadelin commented on #10
Long-awaited typescript support is now out :)

[2021-01-29 22:22] #10 closed

[2021-01-29 23:27] torgeadelin commented on #66
Please update to the latest version and try again.
I'm going to close for now, feel free to reopen if the issue persists.

[2021-01-29 23:27] #66 closed

[2021-01-29 23:32] torgeadelin commented on #63
Does this happen on ios or android?
If it is an actual issue, it's most likely due to react-navigation.

[2021-01-29 23:32] #63 closed

[2021-01-29 23:32] torgeadelin commented on #60
Looking into trying to improve this in the upcoming future.

[2021-01-29 23:33] torgeadelin commented on #59
Will try to fix this as soon as possible.

[2021-01-30 13:59] DSPerera95 opened #70 "'have your wrapper your NavigationContainer' Bug"
'have your wrapper your NavigationContainer' bug still appears to be there even after updating @react-navigation/stack 5.13.0, @react-navigation/native 5.9.0 and @react-navigation/bottom-tabs 5.11.3

[2021-01-30 14:18] torgeadelin commented on #70
Did you also update the package to 3.1.1?

[2021-01-30 14:19] DSPerera95 commented on #70
@torgeadelin yes I did. its updated to 3.1.1

[2021-01-30 14:23] torgeadelin commented on #70
Please provide how you're using the component and proper logs. Thanks.

Did you try to reset cache when running npm run start?

[2021-01-30 14:33] DSPerera95 commented on #70
reset the cache and it works now. thanks!

[2021-01-30 14:33] #70 closed

[2021-01-31 09:24] kushagraagent47 commented on #62
Hey @torgeadelin Still getting the same issue

[2021-01-31 12:00] torgeadelin commented on #62
Please update to react-navigation/native 5.9.0, stack 5.13.0, bottom-tabs 5.11.3

Also make sure you have latest version of the package 3.1.1.

Please reset cache when you run npm run start.

[2021-02-02 13:56] ciocan opened #71 "issue with createNativeStackNavigator on iOS"
When using **createNativeStackNavigator** from **react-native-screens/native-stack**
it seems the animated tab bar overlay is on top of everything and any buttons placed on the screens are not interactive.

I noticed when **enableScreens()** is called the issue starts appearing.

On Android is working fine.

[2021-02-02 14:47] torgeadelin commented on #71
Hi, could you post some steps to reproduce, or some source code.

Thanks!

[2021-02-03 20:18] ciocan commented on #71
Sure do, I updated your example here:
https://github.com/ciocan/react-native-animated-nav-tab-bar/blob/main/navigation/AppNavigation.tsx

I added:
[code]

[2021-02-04 15:06] khijjawi commented on #62
Still same error .

 "@react-navigation/native": "^5.9.2",
    "@react-navigation/stack": "^5.14.2",
    "react": "16.13.1",
    "react-native": "0.63.4",
    "react-native-animated-nav-tab-bar": "^3.1.1",

[2021-02-04 15:40] torgeadelin commented on #62
Did you reset cache?

[2021-02-04 15:49] hbendix commented on #52
^ This is not an acceptable workaround as node modules are auto-generated.

[2021-02-04 15:51] hbendix commented on #52
You can change the label font family by using `labelStyle` and assigning `fontFamily`

[2021-02-05 23:14] khijjawi commented on #62
yes, with same issue.

[2021-02-06 21:48] #71 closed

[2021-02-06 22:03] torgeadelin commented on #71
Fixed, please update to 3.1.2 and reset cache.
Thanks :)

[2021-02-06 22:23] bberos commented on #62
I am also facing same issue here.

[2021-02-06 22:31] torgeadelin commented on #62
Hi, please provide some reproducible code so I can investigate further. Thanks

[2021-02-07 15:19] ciocan commented on #54
You can use hack like this: enclose the icon with an external view wrapper positioned relative and add another absolute view with a text styled as the badge.

Example code:

[code]
(it uses react-native-magnus as the utility UI library, so you can replace the Div with a react native View)

[2021-02-07 15:25] Duya3fithou commented on #54
Tks @ciocan for your suggest. And I solved this. And my solution same you, xD

[2021-02-12 04:51] Siddharth2212 commented on #54
You can solve  this by using BadgedIcon from react native elements

[2021-02-17 20:22] macist-m opened #74 "Possible to hide a specific tab?"
Hello, with regular tab navigation, it is possible to hide a specific tab form the bar with this...

[code]

Yet this is not working with react-native-animated-nav-tab-bar...

İs it possible to hide a tab with stack navigation nested in?

[2021-02-18 09:50] Lekhrajk opened #75 "Gettting black line on top of tab-bar"
I am getting unwanted black line on top of tab-bar  any solution ?
![WhatsApp Image 2021-02-18 at 15 18 25](https://user-images.githubusercontent.com/42565741/108338860-bc502b80-71fc-11eb-8374-ced70430d0e8.jpeg)

[2021-02-18 11:40] m-ruhl opened #76 "Safe-Area on iPhone 12 Pro (Max)"
Hey 👋 ,

on the iPhone 12 Pro and iPhone 12 Pro Max the safe area is not displayed correctly as seen in the screenshot:
![safe_area](https://user-images.githubusercontent.com/867772/108351959-79835900-71e6-11eb-9850-28ce2ee33ebf.png)

[2021-02-24 11:03] dnmct opened #77 "activeTabBackgrounds hast type string"
Shouldn't that be string | string[]

[2021-02-25 15:44] fahadfj commented on #62
Fixed this by removing this line
`import {createBottomTabNavigator} from '@react-navigation/bottom-tabs';`

Do not import both `createBottomBarNavigator` AND `AnimatedTabBarNavigator`.

Import ONLY `
import {AnimatedTabBarNavigator} from 'react-native-animated-nav-tab-bar';`

[2021-02-25 19:45] kushagraagent47 commented on #62
Hey @fahadfj, could you please share your package.json and app.js here

[2021-02-26 18:27] fahadfj commented on #62
@kushagraagent47 sure,

here's App.js:
[code]

and package.json
[code]

[2021-02-28 08:13] rayansys commented on #59
change style in index.js  line 459 to   :

[code]

[2021-03-01 15:45] torgeadelin commented on #75
Could you post some reproducible code, please?

[2021-03-01 16:18] #77 closed

[2021-03-01 16:19] torgeadelin commented on #76
fixed, please update to 3.1.3

[2021-03-01 16:20] torgeadelin commented on #59
fixed, please update to 3.1.3

[2021-03-01 16:20] #59 closed

[2021-03-03 14:55] vincelwt commented on #62
Same issue here 🙁 not sure what could be the issue ... tried with the same package versions as @fahadfj and basically the same code

[2021-03-04 07:34] dnmct commented on #77
thanks

[2021-03-15 09:21] butri71 commented on #60
@torgeadelin any news on this?  Thanks

[2021-03-15 09:26] torgeadelin commented on #60
Hi,

I'm afraid I didn't have time to look into this. I'm planning to rewrite the animation logic and hopefully this will get fixed. Again, not sure how soon this will happen.

Sorry for the vague reply, but I don't want to estimate what I cannot measure.

[2021-03-15 09:27] butri71 commented on #60
Hi,

Understand, thanks for the reply!

[2021-03-28 20:32] The-CodeNinja opened #79 "Animation of Dot element is lagging/not smooth. Would it be possible to switch to useNativeDriver: true instead?"

[2021-03-29 11:51] papidb commented on #63
Hey, it happens on android, not ios. Tried passing in keyboardHidesTabBar: true into tabBarOptions but it doesn't work. Is there a fix for this?

[2021-03-29 19:05] torgeadelin commented on #79
I'm afraid this doesn't fix the issue. Somebody else raised this bug, so please follow #60 for updates.

[2021-03-29 19:05] #79 closed

[2021-04-15 20:27] orjiAce opened #81 "Error: Couldn't register the navigator."
Hello i ran into some issues, I'm building the app with expo and react-navigation v5 but i got this error when i tried to view the app on my device

Error: Couldn't register the navigator. Have you wrapped your app with 'NavigationContainer'?

This error is located at:
    in BottomTabNavigator (at AnimatedTab.js:30)
    in EnsureSingleNavigator (at BaseNavigationContainer.tsx:409)
    in ForwardR

[2021-04-18 17:29] torgeadelin commented on #81
Please see this issue #70, it's related to you you're experiencing.

[2021-04-18 20:53] orjiAce commented on #81
I just checked and I ran this command
npm cache clean --force
.

then restarted the application with Expo start and I'm still experiencing the issue

AppLoading threw an unexpected error when loading:
Error: Couldn't register the navigator. Have you wrapped your app with 'NavigationContainer'?

React.useEffect(() =>{
const {register, unregister} = container;

register(key);

[2021-04-20 08:18] torgeadelin commented on #81
Could you post your `package.json` and the source file where you define your navigation? Thanks.

[2021-04-20 16:12] orjiAce commented on #81
Okay
this is my package.json looks like >
..
...

{
  "main": "node_modules/expo/AppEntry.js",
  "scripts": {
    "start": "expo start",
    "android": "expo start --android",
    "ios": "expo start --ios",
    "web": "expo start --web",
    "eject": "expo eject"
  },
  "dependencies": {
    "@expo/vector-icons": "^12.0.0",
    "@react-native-async-storage/async-storage": "^1.14.1",
    "@react-na

[2021-04-23 15:31] m-ruhl commented on #63
@torgeadelin

I can confirm the issue. When I use "@react-navigation/bottom-tabs" the tabbar is hidden.
When using this framework it looks like this
![bottomBar](https://user-images.githubusercontent.com/867772/115894627-c5a68000-a459-11eb-8ed2-7b9040fd0964.png)

[2021-04-23 20:42] papidb commented on #63
So I was able to come up with a very buggy fix. https://github.com/benjamin-daniel/react-native-animated-nav-tab-bar/tree/bug/keyboardHidesOnTab will still take a look at it. I heavily copied https://github.com/react-navigation/react-navigation/tree/main/packages/native. Check it out if you are free! @m-ruhl @torgeadelin

[2021-04-25 22:51] orjiAce commented on #81
hi

[2021-04-30 16:04] emilstepanian commented on #74
I have not tried specifically this, but I am currently struggling with other configuration options in screenOptions prop.

Nothing works with screenOptions in Tab.Navigator.

[2021-05-14 15:18] hillkim commented on #63
@papidb Why cant you create a PR for this? Can I do it?

[2021-05-17 12:21] papidb commented on #63
Yeah, you can. I don't mind, but like I said it is very rough, you can try to tidy it up. Thanks.

[2021-05-25 15:53] dmitryshelomanov opened #89 "Top bar position support ?"

[2021-06-02 15:55] #89 closed

[2021-06-15 02:28] namachan0219 commented on #74
@macist-m

I hope my hack is helpful.

In the stack navigator nested in the bottom navigator
Nested in the bottom navigator, the stack navigator controls whether it is shown or hidden.

`
import React, { useLayoutEffect } from "react";
import { getFocusedRouteNameFromRoute } from "@react-navigation/native";
const navName: any = getFocusedRouteNameFromRoute(route);

useLayoutEffect(() => {
    swit

[2021-06-15 02:31] namachan0219 commented on #74
@macist-m
I hope you find my hack helpful!
Bottom Implement it in the Stack Navigator nested in the Navigator.

[code]

[2021-06-15 04:10] namachan0219 opened #92 "Broken animation when using navigation.dispatch(CommonActions)"
Hello!

The problem occurs during the screen transition between the Stack Screens nested in the Bottom Navigator.
The bottom navigation animation stops at the screen before the transition.
The screen transition has been executed correctly and we are now on a new screen, but the bottom navigation is where it was before the screen transition.
The code below illustrates this. After the screen transit

[2021-06-21 20:16] naxir commented on #62
Same!!!!

[2021-06-25 19:27] znazgo commented on #81
was this ever resolved? having a similar issue

[2021-06-25 19:31] orjiAce commented on #81
No, I had built my own custom bottom tab from scratch using react-native-reanimated-2

[2021-06-25 21:10] znazgo commented on #81
Well I would love to use this package but can't figure out this problem as well.  Have done the same troubleshooting as issue #70 and have react navigation v5.x and the newest version of this package.  I am also using Redux to clarify any confusion with the <Provider> tags.

If anyone has any suggestions here is my current navigation set up:

======== App.js =============
return (

      <Navigati

[2021-07-13 17:16] GuillaumeRZ commented on #60
Hey ! Any update on this ? Thank for your time ! :)

[2021-07-17 09:43] imvsinha commented on #62
In order for Hooks to work, the react import from your application code needs to resolve to the same module as the react import from inside the react-dom package.

If these react imports resolve to two different exports objects, you will see this warning. This may happen if you accidentally end up with two copies of the react package.

If you use Node for package management, you can run this check

[2021-07-17 10:37] recepkocur commented on #62
yes same problem. It gives an error even though I have updated the latest versions of all packages.
![Screen Shot 2021-07-17 at 13 35 15](https://user-images.githubusercontent.com/541333/126034291-fdd49e90-ab11-4cdc-ac76-25788c81eeee.png)

[2021-07-30 07:29] RanjaniAshok opened #95 "Touchable not working in debugging mode??"

[2021-07-31 16:47] suraj-ingle commented on #60
This seem to be a issue due tho the fact that JavaScript is single threaded. [Here](https://www.freecodecamp.org/news/how-react-native-animations-work/) is an amazing explanation to how the animation is handled under the hood.

[2021-08-04 13:09] kristoff2016 commented on #62
Any update?

[2021-08-04 13:19] imvsinha commented on #62
Can you run "npm ls react" in your terminal and send me the result. I think you have two copies of the react package.

[2021-08-04 13:20] imvsinha commented on #62
Go through the above solution and check if you have two copies of react package. Use "npm ls react" to check.

[2021-08-04 13:34] kristoff2016 commented on #62
Hello @imvsinha thank you for your replied, here is my log

<img width="429" alt="Screen Shot 2021-08-04 at 8 34 06 PM" src="https://user-images.githubusercontent.com/16773770/128190115-38b55b04-58ea-4173-98dd-a91461a9dd0a.png">

[2021-08-04 13:34] kristoff2016 commented on #62
Do you think which one should I remove? thank you

[2021-08-04 13:39] imvsinha commented on #62
You can see there are two copies of react one is react@17.0.1 & the other one is react@17.0.2. Kindly change the react@17.0.2 to react@17.0.1 and then reopen the project and run it. It may solve your problem.

[2021-08-04 14:06] kristoff2016 commented on #62
Still the same issue.

[2021-08-04 14:14] imvsinha commented on #62
Try to reinstall react-navigation along with its dependencies.

npm install react-native-reanimated react-native-gesture-handler react-native-screens react-native-safe-area-context @react-native-community/masked-view

[2021-08-06 03:41] dongdyang commented on #60
+1

[2021-08-14 22:26] alpertas opened #99 "NavigationContainer Problem in Custom NavBar"
I have some problems that I can't get over.

This is my TabBar Component: NavBar.js:
`
...
// Js
import { AnimatedTabBarNavigator } from "react-native-animated-nav-tab-bar";
//Pages
import Home from "../../pages/Home"; //Home Page

const Tabs = AnimatedTabBarNavigator();
// thanks. https://js.coach/package/react-native-animated-nav-tab-bar
export default () => {
  return (
    <Tabs.Navigator

[2021-08-15 01:45] neelpatel23 commented on #99
Wrap Tabs.Navigation in NavigationContainer

[2021-08-15 02:09] satya164 commented on #81
This happens because this library adds `@react-navigation/native` to its `dependencies` which makes it possible to include multiple versions of `@react-navigation/native` since you will also have it in your own `package.json`, and multiple versions of `@react-navigation/native` will cause such issues:

https://github.com/torgeadelin/react-native-animated-nav-tab-bar/blob/0642630cb487a496b0619201da

[2021-08-18 12:43] thisroot opened #100 "How to hide labels?"
How to hide labels?

this react-navigation solutions wont work to me

[code]

[code]

[2021-08-19 17:17] jezzgoodwin commented on #81
I'm getting this issue as well. I wonder if it is because I'm using v6 of react navigation?

[2021-08-19 17:19] satya164 commented on #81
@jezzgoodwin no, it's because of what wrote above

[2021-08-19 17:23] torgeadelin commented on #81
Thanks @satya164 for pointing out the issue. I'll come up with a fix this weekend.

Thanks a bunch!

@jezzgoodwin I have not checked if the package works with v6, I noticed they just released it recently. Will look into that this weekend too.

[2021-08-19 17:26] torgeadelin commented on #100
If you look at the documentation in the README you can find `whenActiveShow`and `whenInactiveShow` props what can help you customise that.

[2021-08-19 17:26] #100 closed

[2021-08-19 17:27] torgeadelin commented on #99
Duplicate of #81

[2021-08-19 17:27] #99 closed

[2021-08-23 13:53] rogeraugusto commented on #81
This solved to me
Fixed have your wrapper your NavigationContainer bug. Please update to react-navigation/native 5.9.0, stack 5.13.0, bottom-tabs 5.11.3

[2021-08-23 15:43] programmrz opened #101 "disable SafeAreaView mandatory on floating style"
Is it possible to disable SafeAreaView with insets? I would like for the tabbar to keep it's position, but allow the view behind it to extend into the safe area zone to truly have a floating tab
![image](https://user-images.githubusercontent.com/8770307/130476684-59dbca74-7e94-4e89-9179-6caec57fef2d.png)

[2021-08-23 15:43] #101 closed

[2021-08-24 15:31] hraschan commented on #60
Facing the same issue

[2021-08-24 15:32] hraschan commented on #60
@torgeadelin  Is this repository still maintained somehow ?

[2021-09-02 00:59] aircliff01 commented on #81
im having this same issue. wondering if this has been resolved?

[2021-09-02 12:47] rogeraugusto commented on #81
@Aircliff It's not solved yet, but you can workaround as commented by
**@satya164**. Remove react-navigation lib and it´s dependencies from _**dependencies**_, and put into **_peerDependencies_** , in package.json.

[code]

[2021-09-21 21:32] merganon commented on #81
Can somebody create a PR for this or provide a fork?
I tried forking this repo and apply @rogeraugusto 's changes, however it's still not working for me
Thank you 🙏

[2021-09-21 23:42] rogeraugusto commented on #81
@merganon it´s a simple solution, just edit your package.json and change the libs order as commented above

[2021-09-22 07:30] merganon commented on #81
Seems like I forgot to add `"@react-navigation/bottom-tabs": "5.11.3",` to the peerDependencies. Thank you!
Everything is working fine, except for the `inactiveTintColor` prop which is not applying. Does anyone have the same issue?

[2021-09-22 11:34] rogeraugusto commented on #81
you can follow the documentation here https://github.com/torgeadelin/react-native-animated-nav-tab-bar#documentation and set the options in your Navigator

[code]

[2021-09-22 12:18] merganon commented on #81
This is my configuration:

[code]

I set `inactiveTintColor` to red, but it's not working (see GIF below).

![2021-09-22](https://user-images.githubusercontent.com/74573436/134341369-23eb8a17-9278-4235-b242-32e417f7e3f4.gif)

Also I'm getting this warning every time I load the app:
![unknown](https://user-images.githubusercontent.com/74573436/134341681-3481d587-0d62-46e3-877b-5e212697f620.png)
![u

[2021-09-22 12:35] rogeraugusto commented on #81
It's probably libs version issue.
Try set your libs as below and run a yarn install

[code]

[2021-09-22 12:54] merganon commented on #81
I have the same versions. So weird.
Does it work for you?

I also have (maybe worth to note):
[code]

and I'm running Android Emulator on Windows 10.

[2021-09-22 13:16] rogeraugusto commented on #81
I´m using expo, so the libs are kind different. But it´s working fine.

[code]

[2021-09-22 13:36] merganon commented on #81
I'm on React Native CLI. I guess this library is only working for Expo then

[2021-09-22 14:11] rogeraugusto commented on #81
I´ll try a implementation on CLI to validate this libs.

[2021-09-23 13:09] rogeraugusto commented on #81
@merganon I´ve implemented and example template with CLI, and it´s working fine too, check it out here https://github.com/rogeraugusto/animated-tabbar-app.

![image](https://user-images.githubusercontent.com/18172346/134512470-6903f8b1-f26d-4d19-877c-b1b6acf4b604.png)

[2021-09-27 13:20] eljubec opened #105 "Not compatible with react-navigation v6"
I tried to upgrade from react-navigation v5 to v6, unfortunately it did not work because of this error

And yes, I wrapped NavigationContainer (see screenshot), **it worked wonderfully with the v5** version but unfortunately not with v6. Is this a known issue when upgrading to v6? I have tried clearing my yarn cache and reinstalling my node modules folder.

![image](https://user-images.githubuserc

[2021-09-28 10:44] eliasljubec commented on #81
[Anyone else having problems with react navigation v6?](https://github.com/torgeadelin/react-native-animated-nav-tab-bar/issues/105) It worked for me with React Navigation v5, but unfortunately not with the v6 version. For more details, see the issue I published.

[2021-09-29 00:15] rogeraugusto commented on #105
@eljubec if you remove react-navigation/native from your **dependencies** and put it on **peerDependencies**, as commented below, you can install v6.  I tryed and it worked. However, I recommend v5, as is in the lib documentation, to the best performance.

[code]

[2021-10-03 07:54] sidsarasvati commented on #105
any idea when we can have support for v6?
happy to help if any one can put info of development work in progress

[2021-10-20 10:44] caglardurmus commented on #60
You can try 'useNativeDriver: true'.

Go to TabBarElement.js

[code]

[code]

[2021-10-22 16:26] butri71 commented on #60
@torgeadelin has already replied above that useNativeDriver: true won't solve the issue. Has it worked for you?

[2021-11-07 14:39] cmcodes1 commented on #105
Tried this! Still facing the same issue!

[2021-11-08 08:07] 0xARK opened #106 "inactiveTintColor doesn't work"
Hello !

I'm programming my first react-native application and I use this package for the tab bar navigation.

I would like to make my application in dark mode and for that I need to customize the colours of the navigation bar. There is no problem to change the colour of the navigation bar, the active tab and the text of the active tab, but impossible to change the text colour of the inactive tabs

[2021-11-08 13:49] 0xARROWK commented on #106
Ok, I was stupid.

It was coming from the example code for render icons that I have modified :

[code]

This line :

[code]

[2021-11-08 13:50] #106 closed

[2021-11-12 10:02] #105 closed

[2021-11-18 08:43] k-lpmg commented on #81
@rogeraugusto Thank you!!! your example repo saved me 👍

[2021-11-26 20:22] igorcesarcode opened #107 "Tab bar goes up with the keyboard"
Sorry my english i'm not native.

Tab bar goes up with the keyboard when I click on a TextInput dp field

![image](https://user-images.githubusercontent.com/44711552/143626636-6e77ac07-21c1-41ca-977f-2462d947017e.png)

How to get around this?

[2021-11-27 22:51] The-CodeNinja opened #108 "Floating:true not working. being styled as standard tab instead."
Here's the configuration I've done for styling my bottom tab nav
[code]

It used to work perfectly but i had to restart my project (`npx react-native init` and copy paste all the js files).
I am unable to use @react-native-community/masked-view. Instead I am using @react-native-masked-view/masked-view. Wonder if that's what is causing this.

[here's a screenshot](https://imgur.com/a/Yzp19QI) of cu

[2021-11-28 00:40] suraj-ingle commented on #108
Oopsy daisy.
Didn't read the doc about `appearance` - `appearence` error
Changing `appearence` to `appearance` solved my issue.
Thanks for creating such beautiful component for us devs ;D

[2021-11-28 00:40] #108 closed

[2021-12-05 22:34] torgeadelin commented on #107
Hi, I think this is default behaviour, could you try this https://github.com/react-navigation/react-navigation/issues/6700#issuecomment-546794842 ?

[2021-12-05 22:34] torgeadelin commented on #95
I'm going to need more details on this issue. Please provide steps to reproduce.

[2021-12-05 23:18] torgeadelin commented on #81
This should be now fixed, please update to 3.1.5

[2021-12-05 23:18] #81 closed

[2021-12-05 23:18] torgeadelin commented on #62
This should be now fixed, please update to 3.1.5

[2021-12-05 23:18] #62 closed

[2021-12-05 23:47] satya164 commented on #81
@torgeadelin you have exact version in peer dependency which will still cause the issue with npm due to auto-install and print warning on yarn. You have to use a version range such as `>= 5.0.0 || >= 6.0.0` or use `*` for any version.

[2021-12-09 02:29] jamesjara commented on #105
I'm having the same issue

[2021-12-09 13:07] jonklein commented on #60
I'm seeing something similar - I suspect this is less about the tab bar animation itself, and more about the load/performance of the tabs being rendered for the first time with asset loading, etc.

[2021-12-11 00:49] oussamalahrizi commented on #107
same problem , I think it's not am option in the current package they'll have to add the necessary property for it . Any news tho ?

[2021-12-11 16:14] torgeadelin commented on #81
@satya164 I have addressed that now. I have used `^5.9.0` since I haven't fully tested the new major release. Hoping to do that soon, and will update the dependency with the latest version.

[2021-12-13 12:08] khelifioussama opened #109 "The library needs to move @react-navigation/native to peerDependencies."
This is a problem in the react-native-animated-nav-tab-bar package. It adds @react-navigation/native to its dependencies which makes it possible to include multiple versions of @react-navigation/native since you will also have it in your own package.json, and multiple versions of @react-navigation/native will cause such issues:

https://github.com/torgeadelin/react-native-animated-nav-tab-bar/blob

[2021-12-13 23:05] torgeadelin commented on #109
Please update to the latest version, this should be fixed now.

[2021-12-14 08:22] NooruddinLakhani commented on #105
Facing the same issue. Any work around?

[2021-12-15 16:58] Batsirai-sudo opened #110 "error: Error: While trying to resolve module `react-native-animated-nav-tab-bar` from file"
error: Error: While trying to resolve module `react-native-animated-nav-tab-bar` from file `/Users/mac/{**My path to index**}/index.tsx`, the package `/Users/mac/{**My path to node_modules**}/node_modules/react-native-animated-nav-tab-bar/package.json` was successfully found. However, this package itself specifies a `main` module field that could not be resolved (`/Users/mac/{**My path to node_mod

[2021-12-16 09:41] ShubhamJain0 commented on #110
Are you using react-navigation v6 too?

[2021-12-16 13:28] BloodDSHOT commented on #110
I'm also getting same error,
"react-navigation": "^4.3.7"

[2021-12-18 15:19] hpelitebook745G2 commented on #110
i think there's really a dependency issue with this lib, a react navigation developer had something to say it [here](https://stackoverflow.com/a/68783352/1968739)

[2021-12-21 16:54] milos201 commented on #110
That's because when the module is installed, `./node_modules/react-native-animated-nav-tab-bar/` only has three files: `package.json`, `LICENSE` and `README.md`.

[2021-12-23 18:47] torgeadelin commented on #110
This issue has been fixed in 3.1.7, please upgrade :)

[2021-12-23 18:47] #110 closed

[2021-12-23 18:49] #109 closed

[2022-01-01 22:43] #92 closed

[2022-01-01 22:43] #75 closed

[2022-01-01 22:43] #54 closed

[2022-01-01 22:43] #74 closed

[2022-01-01 22:43] #53 closed

[2022-01-01 22:43] #44 closed

[2022-01-01 22:43] #51 closed

[2022-01-05 11:01] rahmanharoon opened #112 "Expected style "fontSize: 14" to contain units warning from styled components"
Here is the warning message which comes from styled components

[code]
![Simulator Screen Shot - iPhone 12 mini - 2022-01-05 at 16 27 48](https://user-images.githubusercontent.com/67966429/148207197-4f8485aa-c899-48aa-867c-db874c52d816.png)

[2022-01-14 15:33] Isaccobosio opened #113 "Compatibility with ReactNavigation v6"
Hello,

Did you know when it will be compatible with v6 of react navigation?
I know that i can put `peerDependencies` but i would prefer best performances!

Thanks

[2022-01-19 19:00] rahmanharoon commented on #107
Same problem @torgeadelin tried that and didn't fixed

[2022-02-07 02:10] vagnerlandio commented on #107
Solved my problem with this https://github.com/react-navigation/react-navigation/issues/6700#issuecomment-834263561

[2022-02-15 06:53] ahsankrypto commented on #95
If you turn on debug mode on android phone, the menu touchables stop working! You are not able to navigate through any bottom tab!

[2022-02-19 22:40] #60 closed

[2022-02-25 16:41] duongquang1611 commented on #112
I added the 'px' suffix after the fontSize in the file node_modules/react-native-animated-nav-tab-bar/dist/lib/index.js (line 193) and the warning was gone.
Here is the code after adding
[code]

[2022-02-26 19:22] harensarma opened #114 "Not working with react navigation V6, please make it workable"

[2022-03-07 17:56] torgeadelin commented on #114
Duplicate of #113

[2022-03-07 17:56] #114 closed

[2022-03-07 17:56] torgeadelin commented on #112
Fixed, please update to 3.1.8

[2022-03-07 17:57] torgeadelin commented on #107
Not sure this is related to this library, so closing for now.

[2022-03-07 17:57] #107 closed

[2022-03-07 20:10] torgeadelin commented on #113
Some initial work has begun here #115. Still needs investigation and more testing. Feel free to contribute if you can!

[2022-04-21 13:32] Bogdastotel opened #116 "Hide header navigation on some screens (react navigation v6)"
If you try to have main bottom nav , following the rules of [https://reactnavigation.org/docs/hiding-tabbar-in-screens/](url), then if you want to have visible header only on some main screens in the main bottom nav, it doesn't comply.
For example component Main Bottom nav can have Tab bar screens "Dashboard" and "Profile"  . And if you want to show header only on Profile screen it doesn't work wi

[2022-04-30 22:43] #95 closed

[2022-05-14 22:44] #113 closed

[2022-05-16 17:27] rahmanharoon opened #117 "How to hide tab bar when modal is visible"
I have a use case of showing a modal when i display the modal its coming below of the tab bar I need to show the modal above the tab bar

Here is the image of current behaviour
![Simulator Screen Shot - iPhone 12 mini - 2022-05-16 at 18 16 48](https://user-images.githubusercontent.com/67966429/168649419-2b35b7b3-8c94-4c1a-9d68-c79629ff522f.png)

Here my bottom content of modal is under the tab bar

[2022-06-06 20:40] mahmoudshaeerhomzmart commented on #63
++

[2022-06-20 09:50] kockok opened #118 "State force reset when switching between tabs"
I use `const [isOpen, setIsOpen] = useState(false);` to control the state of an accordion.

However, when I switch to other tabs, the screen state of the original tab component will always be reset.

Is this intended?

I tried setting
[code]

But the local state will still be forced to set back to the default value.

I've tried all [these](https://stackoverflow.com/questions/60439210/how-to-pass-p

[2022-06-20 10:35] kockok commented on #118
I figured out that when I change back to `<Tabs.screen component={ComponentA} />`, the state retains.
However, when I render the component explicitly:
[code]
then the state won't keep, just wondering how to keep the state intact with the second component rendering method.

Also, if I use `initialParams={{ tess: 'test' }}` to pass props, rerender will be triggered and the state will be lost.

[2022-06-25 12:39] kockok opened #119 "Add ref to react-native-animated-nav-tab-bar"
As I set the tab bar to `float` in ios and not for android, and I need the position of pageX and PageY to put items just above the tab bar.

So, please also export the position of react-native-animated-nav-tab-bar.

[2022-07-09 22:44] #116 closed

[2022-07-23 22:43] #117 closed

[2022-08-01 15:19] 77TecShaeer opened #120 "useNativeDrive"
can we enable this for animation in library : useNativeDrive

[2022-08-18 10:00] 77TecShaeer commented on #120
any support ?

[2022-08-27 22:43] #118 closed

[2022-09-03 22:44] #119 closed

[2022-09-27 20:15] knana1662 opened #121 "Issues with the animated tab bar"
Please I'm finding it difficult to use the package in my Expo project even though I have downloaded React Navigation and tried running it times but to no avail and also if the npm run start -- reset cache works at all since I have tried it more that 4 times in the cmd (current project directory)

And also after implementing the package and executing the project I receive an error saying something

[2022-10-02 06:49] mdmusaibali opened #122 "Include support for React navigation v6"

[2022-10-06 10:24] malinthann commented on #122
where?

[2022-10-06 10:30] mdmusaibali commented on #122
Check package.json.
Currently this package uses react navigation v5.
This is causing dependency incompatibility if the project that we are making uses react navigation v6.

[2022-10-07 11:46] malinthann commented on #122
Do you know how to fix it, or what react-native-animated-tab-bar that you prefer?

[2022-11-17 17:45] marcus-chr opened #123 "Missing bottom padding/margin on iPhone 14 pro"
Missing bottom padding/margin between the tabs and the "black horizontal line".

Screenshot from a iPhone 14 Pro Max. Works great on e.g. iPhone 12 Pro Max.

![201533362-a84412ba-af16-4ca4-a44c-983621dc3c69](https://user-images.githubusercontent.com/12811831/202518934-908a340f-fb4f-423a-b750-0fa04f92897f.png)

[2022-11-28 22:42] #120 closed

[2022-11-30 19:41] aaron5670 commented on #122
I'm also interested in an solution 😄